INTODUCTION TO MACHINE LEARNING ASSIGNMENT CODE

HUBERT AGURIWINE AKANSON

ID: 17975d5fc001f000

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding ='latin-1')

In [8]:
print(df)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [10]:
df.shape

(60943, 12)


Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [13]:
gp= df.groupby('Element')

sv= gp.get_group('Stock Variation')

print(sv)

       Area Code      Area  Item Code                      Item  Element Code  \
13             4   Algeria       2905  Cereals - Excluding Beer          5072
29             4   Algeria       2511        Wheat and products          5072
45             4   Algeria       2805         Rice and products          5072
60             4   Algeria       2513       Barley and products          5072
75             4   Algeria       2514        Maize and products          5072
...          ...       ...        ...                       ...           ...
60842        181  Zimbabwe       2763              Pelagic Fish          5072
60853        181  Zimbabwe       2764        Marine Fish, Other          5072
60914        181  Zimbabwe       2928             Miscellaneous          5072
60924        181  Zimbabwe       2680               Infant food          5072
60934        181  Zimbabwe       2899             Miscellaneous          5072

               Element         Unit  Y2014   Y2015  Y2016  Y2017   Y2018
13     Stock Variation  1000 tonnes  684.0  1663.0  905.0  705.0  2226.0
29     Stock Variation  1000 tonnes  487.0  1401.0  731.0  546.0  1927.0
45     Stock Variation  1000 tonnes    8.0    -2.0   -4.0   17.0    37.0
60     Stock Variation  1000 tonnes   42.0    82.0   55.0   16.0   134.0
75     Stock Variation  1000 tonnes  146.0   177.0  122.0  127.0   124.0
...                ...          ...    ...     ...    ...    ...     ...
60842  Stock Variation  1000 tonnes    0.0     0.0    0.0    0.0     0.0
60853  Stock Variation  1000 tonnes    0.0     0.0    0.0    0.0     0.0
60914  Stock Variation  1000 tonnes    0.0     0.0    0.0   -4.0     0.0
60924  Stock Variation  1000 tonnes    0.0     0.0    0.0    0.0     0.0
60934  Stock Variation  1000 tonnes    0.0     0.0    0.0   -4.0     0.0

[4232 rows x 12 columns]

In [20]:
tt = sv.groupby(['Element'])[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum()

print(tt)

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [32]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [51]:
df.isnull().sum()/(len(df)) * 100

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [55]:
ab = df.groupby('Area')['Y2017'].sum()

print(ab)

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [57]:
ab.describe()

count    4.900000e+01
mean     1.709332e+05
std      2.516059e+05
min      0.000000e+00
25%      2.934220e+04
50%      9.813887e+04
75%      2.245990e+05
max      1.483268e+06
Name: Y2017, dtype: float64


What is the total Protein supply quantity in Madagascar in 2015?

In [59]:
pp =  gp.get_group('Protein supply quantity (g/capita/day)')

print(pp)

       Area Code      Area  Item Code                      Item  Element Code  \
3              4   Algeria       2901               Grand Total           674
6              4   Algeria       2903          Vegetal Products           674
9              4   Algeria       2941           Animal Products           674
25             4   Algeria       2905  Cereals - Excluding Beer           674
41             4   Algeria       2511        Wheat and products           674
...          ...       ...        ...                       ...           ...
60903        181  Zimbabwe       2769   Aquatic Animals, Others           674
60911        181  Zimbabwe       2775            Aquatic Plants           674
60921        181  Zimbabwe       2928             Miscellaneous           674
60931        181  Zimbabwe       2680               Infant food           674
60941        181  Zimbabwe       2899             Miscellaneous           674

                                      Element          Unit  Y2014  Y2015  \
3      Protein supply quantity (g/capita/day)  g/capita/day  94.90  94.35
6      Protein supply quantity (g/capita/day)  g/capita/day  67.14  67.38
9      Protein supply quantity (g/capita/day)  g/capita/day  27.76  26.97
25     Protein supply quantity (g/capita/day)  g/capita/day  49.43  49.54
41     Protein supply quantity (g/capita/day)  g/capita/day  43.20  43.33
...                                       ...           ...    ...    ...
60903  Protein supply quantity (g/capita/day)  g/capita/day   0.00   0.00
60911  Protein supply quantity (g/capita/day)  g/capita/day   0.00   0.00
60921  Protein supply quantity (g/capita/day)  g/capita/day   0.10   0.11
60931  Protein supply quantity (g/capita/day)  g/capita/day   0.00   0.00
60941  Protein supply quantity (g/capita/day)  g/capita/day   0.10   0.11

       Y2016  Y2017  Y2018
3      94.72  92.82  91.83
6      67.37  66.11  67.10
9      27.35  26.71  24.73
25     50.01  48.86  49.36
41     43.85  43.18  42.85
...      ...    ...    ...
60903   0.00   0.00   0.00
60911   0.00   0.00   0.00
60921   0.08   0.05   0.04
60931   0.00   0.00   0.00
60941   0.08   0.04   0.04

[5023 rows x 12 columns]

In [67]:
vv = pp.groupby("Area")

vp= vv.get_group('Madagascar')

bb = vp.groupby(["Element"])['Y2015'].sum()

print(bb)

Element
Protein supply quantity (g/capita/day)    173.05
Name: Y2015, dtype: float64


Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

In [75]:
ff = df.groupby('Item')

f = ff.get_group('Wine')

t=f.groupby(['Item'])[['Y2015','Y2018']].sum()

print(t)

        Y2015    Y2018
Item
Wine  4251.81  4039.32

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [92]:
p = df.groupby('Area')['Y2017']


print(p.describe().astype(int))

count         49
mean      170933
std       251605
min            0
25%        29342
50%        98138
75%       224599
max      1483268
Name: Y2017, dtype: int64

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [124]:
bbp = df.groupby('Area')['Y2017']

pop = bbp.describe()

print(pop)

                              count         mean          std     min  25%  \
Area
Algeria                      1279.0   254.608499  1547.394129   -81.0  0.0
Angola                       1407.0   162.871052  1095.097216  -250.0  0.0
Benin                        1253.0    99.577989   551.559347  -125.0  0.0
Botswana                     1368.0    16.155921   112.238405   -38.0  0.0
Burkina Faso                 1383.0    73.647918   602.015735  -281.0  0.0
Cabo Verde                   1193.0    12.280587   106.522420    -7.0  0.0
Cameroon                     1441.0   161.020423   891.706561  -147.0  0.0
Central African Republic     1262.0    23.721870   167.023884    -1.0  0.0
Chad                         1281.0    55.889680   462.112318   -37.0  0.0
Comoros                        45.0     1.329778     3.578664     0.0  0.0
Congo                        1395.0    29.520918   194.918056    -4.0  0.0
Côte d'Ivoire                1454.0   154.469746   966.292926  -244.0  0.0
Djibouti                     1061.0    21.423101   140.152273    -2.0  0.0
Egypt                        1458.0   594.224911  3560.771316 -1582.0  0.0
Eswatini                     1251.0    43.439912   393.094731  -100.0  0.0
Ethiopia                     1428.0   314.204314  3122.142176  -792.0  0.0
Ethiopia PDR                   39.0     0.000000     0.000000     0.0  0.0
Gabon                        1206.0    23.200365   131.547012   -37.0  0.0
Gambia                       1116.0    20.747473   148.609070    -2.0  0.0
Ghana                        1333.0   253.262611  1714.281860  -121.0  0.0
Guinea                       1383.0    70.960860   440.503711  -108.0  0.0
Guinea-Bissau                1076.0    17.753504   121.893742    -3.0  0.0
Kenya                        1548.0   170.969419  1408.584749  -186.0  0.0
Lesotho                      1110.0    19.160324   138.706288    -4.0  0.0
Liberia                      1135.0    25.852159   182.196869   -19.0  0.0
Madagascar                   1425.0    92.068582   788.970175  -324.0  0.0
Malawi                       1411.0   128.347775   771.028931   -50.0  0.0
Mali                         1243.0   120.618126   713.576258  -600.0  0.0
Mauritania                   1108.0   141.394819  2017.228641    -1.0  0.0
Mauritius                    1340.0    38.145396   287.587514   -25.0  0.0
Morocco                      1369.0   283.780394  1904.383394  -229.0  0.0
Mozambique                   1406.0   114.799417   957.728213 -1200.0  0.0
Namibia                      1269.0    23.542072   132.524660   -35.0  0.0
Niger                        1365.0    92.826066   708.889521  -682.0  0.0
Nigeria                      1457.0  1018.028984  7642.098415  -694.0  0.0
Rwanda                       1397.0    52.729914   397.987230  -631.0  0.0
Sao Tome and Principe        1122.0    11.285766   105.952584     0.0  0.0
Senegal                      1452.0    65.896109   480.576621   -68.0  0.0
Seychelles                     68.0     6.505000    30.566295     0.0  0.0
Sierra Leone                 1191.0    46.441083   304.560553  -180.0  0.0
South Africa                 1395.0   371.032645  2194.696940  -144.0  0.0
Sudan                        1279.0   187.593370  1328.996288  -819.0  0.0
Sudan (former)                 53.0     0.000000     0.000000     0.0  0.0
Togo                         1234.0    40.390502   276.042965   -32.0  0.0
Tunisia                      1314.0    94.495586   480.281423  -186.0  0.0
Uganda                       1435.0   149.094341  1203.591571  -180.0  0.0
United Republic of Tanzania  1409.0   228.968666  1652.615666  -865.0  0.0
Zambia                       1425.0    72.437733   571.180971   -42.0  0.0
Zimbabwe                     1365.0    55.618564   464.036613  -521.0  0.0

                               50%      75%        max
Area
Algeria                      1.000  28.0000   41389.00
Angola                       0.040  14.0000   29817.00
Benin                        0.860  13.0000   11175.00
Botswana                     0.000   2.1600    2341.00
Burkina Faso                 0.000   8.0000   19193.00
Cabo Verde                   0.010   3.0000    2530.00
Cameroon                     0.370  21.0000   24566.00
Central African Republic     0.000   4.6800    4596.00
Chad                         0.000   6.0000   15017.00
Comoros                      0.020   0.8000      16.65
Congo                        0.000   3.0000    5111.00
Côte d'Ivoire                0.330  15.0000   24437.00
Djibouti                     0.020   2.1700    2664.00
Egypt                        1.225  47.0000   96443.00
Eswatini                     0.070   3.4750    5553.00
Ethiopia                     0.130  18.1075  106400.00
Ethiopia PDR                 0.000   0.0000       0.00
Gabon                        0.010   5.0000    2640.00
Gambia                       0.000   3.0000    2544.00
Ghana                        1.000  29.0000   29121.00
Guinea                       0.000   8.0000   12068.00
Guinea-Bissau                0.085   4.3325    2233.00
Kenya                        0.610  17.0000   50221.00
Lesotho                      0.030   3.1725    2475.00
Liberia                      0.020   4.0000    4702.00
Madagascar                   0.030   7.0000   25571.00
Malawi                       0.000   8.0000   17670.00
Mali                         1.000  21.5000   18512.00
Mauritania                   0.040   5.5875   51864.00
Mauritius                    0.080   3.6925    3713.00
Morocco                      2.000  34.0000   38348.00
Mozambique                   0.300  12.8625   28649.00
Namibia                      0.330   5.7000    2465.00
Niger                        0.000   4.0000   21602.00
Nigeria                      0.680  61.0000  190873.00
Rwanda                       0.000   5.0000   11981.00
Sao Tome and Principe        0.000   1.0000    2407.00
Senegal                      0.100   8.8875   15419.00
Seychelles                   0.035   0.4475     204.02
Sierra Leone                 0.120   6.0000    7488.00
South Africa                 3.000  55.5000   57010.00
Sudan                        0.100  19.3000   40813.00
Sudan (former)               0.000   0.0000       0.00
Togo                         0.220  10.0000    7698.00
Tunisia                      1.765  19.0000   11433.00
Uganda                       0.020  14.0000   41167.00
United Republic of Tanzania  1.000  27.0000   54660.00
Zambia                       0.000   6.0000   16854.00
Zimbabwe                     0.140   8.0000   14237.00

None

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [110]:
tt =df.groupby('Element')

tf = tt.get_group('Processing')

tb = tf.groupby(['Element'])['Y2017'].sum()

print(tb)

Element
Processing    292836.0
Name: Y2017, dtype: float64